<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <title>Sucesso!</title>
</head>
<body class="main">
    <section class="container-1">
        <h3 class="titulo">'{{ nome }}' {{ func }} com sucesso!</h2>
        <div class="butao-container">
            <a class="butao" href="{{ url_for('admin.admin') }}">OK</a>
        </div>
    </section>
</body>
</html>