<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <title>ToinzinhoBar-Cardapio</title>
</head>

<body>
    <header>
        <nav data-anima="down" class="nav-bar">
            <a href="#" class="nav-logo"><img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="logo"></a>
            <ul class="nav-menu">
                {% for item in sessao %}
                <a href="#{{ item }}" class="nav-link">{{ item }}</a>
                {% endfor %}
            </ul>
            <div class="hamburguer">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        <!--CERVEJAS LONG NECK-->

        {% for item in sessao %}
        <div data-anima="left" class="produtos-titulo" id="{{ item }}">
            <h2>{{ item }}</h2>
        </div>
        {% for produto in produtos %}
        {% if produto[3] == item %}
        <p>{{ imagem }}</p>
        <section data-anima="left" class="produto">
            <img class="produto-img" src="{{ url_for('static', filename=produto[4]) }}" alt="{{ produto[1] }} img">
            <div class="produto-info">
                <p class="produto-nome">{{ produto[1] }}</p>
                <p class="produto-preco">R${{ produto[2] }} un.</p>
            </div>
        </section>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </main>
    <footer>
        <div class="contato-conteiner">
            <div data-anima="left" class="contato">
                <h3>contatos</h3>
                <p>(61) 9 9943-3485</p>
                <p>(61) 9 8304-2410</p>
                <p>(61) 9 9524-6564</p>
            </div>
            <div data-anima="right" class="social">
                <h3>redes socias</h3>
                <a href="https://www.instagram.com/butecodotoinzinho/">
                    <img src="{{ url_for('static', filename='imagens/instagram.png') }}" alt="instagram">
                </a>
                <a href="#"><img src="{{ url_for('static', filename='imagens/facebook.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='imagens/whatsapp.png') }}" alt=""></a>
            </div>
        </div>
        <p>site criado por <a href="https://www.instagram.com/fael.bs7" target="_blank">Rafael Brandão</a></p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>